.App {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.productCard {
    margin-top: 15px;
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.productCard img {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    background-color: #FF5733;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px; 
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #FF8548;
    transform: scale(1.05); 
}

button:active {
    background-color: #FF5F1F;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
}

.button1 {
    background-color: #33A3FF;
    color: #FFF;
    margin-bottom: 20px;
}

.button2 {
    background-color: #33FF5F;
    color: #FFF;
}
